# Core
pandas>=2.2
numpy>=1.26
pyarrow>=16.0

# ML
scikit-learn>=1.5
statsmodels>=0.14
xgboost>=2.0
lightgbm>=4.3

# Forecasting
prophet>=1.1.5

# Database (optional SQL backend)
sqlalchemy>=2.0
psycopg2-binary>=2.9

# Viz
matplotlib>=3.8
seaborn>=0.13

# Notebooks
jupyterlab>=4.0
